<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.skhu.traveler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Traveler"
        android:usesCleartextTraffic="true">
        <activity android:name=".KakaoAPI" />
        <activity android:name=".ResultSearchKeyword" />
        <activity android:name=".KotlinTemp" />
        <activity android:name=".MapActivity3" />
        <activity android:name=".MapActivity2" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".SearchListActivity2" />
        <activity android:name=".MyScheduleActivity" />
        <activity android:name=".CheckReservationActivity" />
        <activity android:name="net.skhu.notice.NoticeActivity" />
        <activity android:name="net.skhu.notice.NoticeBoardActivity" />
        <activity android:name="net.skhu.notice.TemporaryNoticeActivity" />
        <activity android:name="net.skhu.notice.NoticeEditActivity" />
        <activity android:name="net.skhu.bum.BumMainActivity" />
        <activity android:name="net.skhu.bum.LoginActivity" />
        <activity android:name="net.skhu.bum.MyScheduleActivity" />
        <activity android:name="net.skhu.bum.ScheduleListActivity" />
        <activity android:name="net.skhu.bum.SearchActivity" />
        <activity android:name="net.skhu.bum.Login2Activity" />
        <activity android:name="net.skhu.bum.Join2Activity" />
        <activity android:name="net.skhu.schedule.CalendarActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAFVdnZUaDPuIm2c4YDbN5Mn_fniU_gt8" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="rfpi6isixt" />

        <activity android:name=".MapActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7b03d03770c084c2ec69249fdca9b457" />
    </application>

</manifest>